
<section class="vh-100">
  <div class="container-fluid h-custom ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">


          <div class="divider d-flex align-items-center my-4">
            <h1 class="text-center fw-bold mx-3 mb-0">Login</h1>
          </div>


          <div class="form-outline mb-4" >
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" name="EMAIL" formControlName="EMAIL" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>


          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" name="PASSWORD" formControlName="PASSWORD"/>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
          </div>

          <div class="text-center text-lg-start pt-2">
            <button type="submit" class="btn btn-dark btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

          </div>

        </form>
      </div>
    </div>
  </div>
  <div class=" text-white mb-3 mb-md-0 d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark footer fixed-bottom">
    <p style="font-size: 20px;">Copyright © 2023. All rights reserved. Developed by : <a href="https://github.com/yousefHijazi1" style="text-decoration: none;">Yousef Hijazi</a></p>
  </div>

</section>



